Repository CMSgov/qpp-measures-data, pull requests merged in 2024-05, with the labels that each got.

#795 QPPA-8989: Update 2023 national averages
  benchmarks/2023/cost-national-averages.json
  util/benchmarks/2023/cost-national-averages.csv
Labels: version:minor, notes:benchmark-update

#791 QPPSE-2240: Extract and Create Clinical Cluster/Specialty Set Data
  clinical-clusters/2024/clinical-clusters-schema.yaml
  clinical-clusters/2024/clinical-clusters.json
  package-lock.json
  package.json
  scripts/clinical-clusters/2024 EMA and Denominator Reduction User Guide_2024 04 23_For Design.pptx
  scripts/clinical-clusters/build-clinical-clusters
  scripts/clinical-clusters/create-clinical-cluster-csv.ts
  scripts/clinical-clusters/ema-clinical-cluster-builder.js
  util/clinical-clusters/2024/ClaimsClinical_Cluster.csv
  util/clinical-clusters/2024/RegistryClinicalCluster.csv
Labels: notes:feature, version:minor

#799 QPPA-9105: update measure spec link for copd
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
  util/measures/2024/cost-links.csv
Labels: version:minor, notes:measure-update
