Repository CMSgov/qpp-measures-data, pull requests merged in 2024-12, with the labels that each got.

#863 QPPA-9642: Add programName Enum
  index.ts
  util/interfaces/program-names.ts
Labels: notes:feature, version:minor

#864 QPPA-9642: fix enum typing
  index.spec.ts
  index.ts
Labels: notes:chore, version:patch

#855 [Snyk] Upgrade @types/lodash from 4.14.184 to 4.17.12
  package-lock.json
  package.json
Labels: stale, notes:chore, version:patch

#865 QPPA-9759: Add PCF to all IA measures of PY24
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
Labels: version:minor, notes:measure-update

#867 QPPA-9540: Initial update to QCDR 2025
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  package-lock.json
  updates/measures/2025/Quality_QCDR_PY25_CR_20241205.csv
  updates/measures/2025/changes.meta.json
  util/measures/2025/qcdr-strata.csv
Labels: version:minor, notes:measure-update

#870 QPPA-9773: Add optometry as measureSet PY25
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-schema.yaml
  scripts/benchmarks/benchmarks.types.ts
  scripts/constants.ts
Labels: version:minor, notes:measure-update

#872 QPPA-9736: AllowedPrograms update for Cost and IA PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  package-lock.json
Labels: version:minor, notes:measure-update

#868 [Snyk] Upgrade @types/lodash from 4.17.12 to 4.17.13
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch

#869 [Snyk] Upgrade yaml from 2.6.0 to 2.6.1
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch

#874 QPPA-9760 add PCF Program to all IA and PI PY25 measures
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
Labels: version:minor, notes:measure-update

#875 QPPA-9817: Additional PY2025 MVP Updates
  index.spec.ts
  measures/2025/measures-data.json
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-enriched.json
  mvp/2025/mvp-raw.json
  mvp/2025/mvp.csv
  mvp/2025/mvp.json
  scripts/benchmarks/benchmarks.types.ts
  updates/measures/2025/Cost_Measures_PY225_CR_20241223.csv
  updates/measures/2025/Cost_Measures_PY25_CR_20241115.csv
  updates/measures/2025/changes.meta.json
  util/interfaces/measure.ts
  util/interfaces/program-names.ts
  util/program-names/program-names.json
Labels: version:minor, notes:mvp-update

#876 QPPA-9541: update mvp enriched json file
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
Labels: version:minor, notes:mvp-update

#877 QPPA-9758: create script to manage allowed program
  CONTRIBUTING.md
  package.json
  scripts/measures/manage-allowed-programs.ts
  updates/measures/2025/changes.meta.json
Labels: notes:enhancement, version:patch

#879 QPPA-9814: Add CAHPS Benchmarks for PY25
  benchmarks/2025.json
  package.json
  staging/2025/benchmarks/benchmarks_cahps.csv
  staging/2025/benchmarks/json/benchmarks_cahps.json
  util/measures/2025/qcdr-strata.csv
Labels: version:minor, notes:benchmark-update

#882 QPPA-0000: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: notes:chore, version:patch
