Repository CMSgov/qpp-measures-data, pull requests merged in 2024-07, with the labels that each got.

#810 QPPA-9285 bump nodejs version
  .github/workflows/pr-feature.yml
  .github/workflows/pr-release.yml
  .nvmrc
  package-lock.json
  package.json
Labels: notes:chore, version:patch

#811 QPPA-9168: Remove AveChg stratum from measure 503 PY 2024
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
  util/measures/2024/quality-strata.csv
Labels: notes:bug-fix, version:minor, notes:measure-update

#814 QPPA-9026: Convert validation scripts to TS
  benchmarks/2023/benchmarks-schema.yaml
  mvp/2024/mvp-raw.json
  mvp/2024/mvp.csv
  package-lock.json
  package.json
  scripts/benchmarks/archive/build-benchmarks
  scripts/benchmarks/build-benchmarks
  scripts/clinical-clusters/build-clinical-clusters
  scripts/measures/2022/build-2022-measures
  scripts/measures/archive/2018/build-2018-measures
  scripts/measures/archive/2018/validate-measures-past-existence.js
  scripts/measures/archive/2019/build-2019-measures
  scripts/measures/archive/2020/build-2020-measures
  scripts/measures/archive/2021/build-2021-measures
  scripts/measures/update-measures
  scripts/validate-data.ts
  scripts/validate-json-data/validate-json-data-lib.js
  scripts/validate-lib.ts
  staging/2024/benchmarks/benchmarks.csv
  staging/2024/benchmarks/json/benchmarks.json
Labels: notes:enhancement, version:minor

#815 QPPA-9264: Add new companionMeasureId field
  measures/2024/measures-data.json
  measures/2024/measures-schema.yaml
  mvp/2024/mvp-enriched.json
  scripts/constants.ts
  scripts/measures/lib/measures-lib.spec.ts
  scripts/measures/lib/measures-lib.ts
  scripts/measures/lib/validate-change-requests.ts
Labels: notes:feature, version:minor, notes:measure-update

#816 QPPA-9185: create PY25 measures
  README.md
  constants.js
  measures/2025/measures-data.json
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-enriched.json
  mvp/2025/mvp-raw.json
  mvp/2025/mvp-schema.yaml
  mvp/2025/mvp.csv
  mvp/2025/mvp.json
  scripts/measures/2025/get-stratifications.js
  scripts/measures/2025/ingest-strata.spec.ts
  scripts/measures/2025/ingest-strata.ts
  scripts/measures/2025/update-measures.spec.ts
  scripts/measures/2025/update-measures.ts
  scripts/measures/initialize-measures
  scripts/measures/update-measures
  scripts/mvp/2025/update-mvp.ts
  scripts/mvp/update-mvp
  test/measures/2025/bad-test-strata.csv
  test/measures/2025/badPiMeasures.csv
  test/measures/2025/badQcdrMeasures.csv
  test/measures/2025/blank-measureid-test-strata.csv
  test/measures/2025/iaMeasures.csv
  test/measures/2025/piMeasures.csv
  test/measures/2025/qcdr-strata.csv
  test/measures/2025/qcdrMeasures.csv
  test/measures/2025/quality-strata.csv
  test/measures/2025/qualityMeasures.csv
  test/measures/2025/test-measures-result.json
  test/measures/2025/test-measures.json
  test/measures/2025/test-strata.csv
  updates/measures/2025/changes.meta.json
  util/measures/2025/qcdr-strata.csv
  util/measures/2025/quality-strata.csv
Labels: notes:feature, version:minor, notes:measure-update

#817 QPPA-9027: root scripts ts migration
  .eslintrc
  constants.js
  constants.ts
  index.js
  index.spec.ts
  index.ts
  jest.config.ts
  package-lock.json
  package.json
  scripts/mvp/2023/update-mvp.ts
  scripts/mvp/2024/update-mvp.ts
  scripts/mvp/2025/update-mvp.ts
  scripts/validate-data.ts
  tsconfig.json
  util/interfaces/benchmarks-exclusion-reasons.ts
  util/interfaces/benchmarks.ts
  util/interfaces/clinical-cluster.ts
  util/interfaces/cost-national-average.ts
  util/interfaces/measure.ts
  util/interfaces/program-names.ts
Labels: notes:feature, version:minor

#809 [Snyk] Upgrade yaml from 2.4.3 to 2.4.5
  package-lock.json
  package.json
Labels: notes:dependencies, version:minor

#818 QPPA-9309: Add beta versioning
  .github/workflows/publish-beta-version.yml
Labels: notes:enhancement, version:minor

#819 QPPA-9309: fix slack notification for beta release
  .github/workflows/publish-beta-version.yml
Labels: notes:bug-fix, version:minor

#821 QPPA-9027: fix TS migration
  constants.ts
  index.ts
  package.json
  scripts/benchmarks/archive/build-benchmarks
  scripts/benchmarks/build-benchmarks
  scripts/benchmarks/csv-json-converter.ts
  scripts/benchmarks/merge-benchmark-files.ts
  scripts/clinical-clusters/build-clinical-clusters
  scripts/measures/export-measures
  scripts/measures/initialize-measures
  scripts/measures/update-measures
  scripts/mvp/parse-mvp-data
  scripts/mvp/update-mvp
  scripts/validate-data.ts
  tsconfig.json
Labels: notes:bug-fix, version:minor
