Repository CMSgov/qpp-measures-data, pull requests merged in 2024-11, with the labels that each got.

#847 QPPA-9665: update schema and initialization script
  measures/2025/measures-data.json
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-enriched.json
  mvp/2025/mvp-schema.yaml
  scripts/measures/initialize-measures-data.ts
Labels: version:minor, notes:measure-update, notes:mvp-update

#848 QPPA-9664: Remove weight for IA 2025
  measures/2025/measures-data.json
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-enriched.json
  mvp/2025/mvp-schema.yaml
  scripts/measures/2022/update-measures-util.ts
  scripts/measures/2023/update-measures.ts
  scripts/measures/2024/update-measures.ts
  scripts/measures/2025/update-measures.spec.ts
  scripts/measures/2025/update-measures.ts
  scripts/measures/lib/validate-change-requests.ts
  test/measures/2025/iaMeasures.csv
Labels: version:minor, notes:measure-update

#850 QPPA-0000: fix lodash dependency level
  package-lock.json
  package.json
Labels: notes:bug-fix, version:patch

#846 QPPA-9663: PY24 suppress 488 eCQM
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
  updates/measures/2024/Quality_2024_Suppression488_CR_10292024.csv
  updates/measures/2024/changes.meta.json
Labels: version:minor, notes:measure-update

#849 QPPA-9666: update ingestion mapping
  scripts/constants.ts
  scripts/measures/lib/measures-lib.spec.ts
  scripts/measures/lib/measures-lib.ts
  scripts/measures/lib/validate-change-requests.ts
Labels: version:minor, notes:measure-update

#852 Revert "QPPA-9663: PY24 suppress 488 eCQM"
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
  updates/measures/2024/Quality_2024_Suppression488_CR_10292024.csv
  updates/measures/2024/changes.meta.json
Labels: notes:chore, version:patch

#851 QPPA-9682, QPPA-9683: remove mips and app1 from IA_MVP for PYs 24 and 25
  measures/2024/measures-data.json
  measures/2025/measures-data.json
  mvp/2024/mvp-enriched.json
  mvp/2025/mvp-enriched.json
Labels: version:minor, notes:measure-update

#854 QPPA-0000; Move pre-commit to dev dependencies.
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch

#859 QPPA-9727: PY25 Updates to COST and PI measures
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  updates/measures/2025/Cost_Measures_PY25_CR_20241115.csv
  updates/measures/2025/PI_PY25_CR_20241112.csv
  updates/measures/2025/changes.meta.json
Labels: version:patch, notes:measure-update, notes:mvp-update

#858 QPPA-9539: Initial CQM measures update for PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  package-lock.json
  updates/measures/2025/MedicareCQM_Quality_QCDR_PY25_20241106.csv
  updates/measures/2025/Quality_PY2025_AnalyticBMCollectType Updates_CR_11182024.csv
  updates/measures/2025/Quality_PY2025_Annual Revisions_CR_11182024.csv
  updates/measures/2025/Quality_PY2025_New and Removed Measures_CR_11182024.csv
  updates/measures/2025/changes.meta.json
  util/measures/2025/quality-strata.csv
Labels: version:minor, notes:measure-update

#861 QPPA-9710: Fix measures exporter
  scripts/measures/export-measures
  scripts/measures/initialize-measures
Labels: notes:enhancement, version:patch
