Repository CMSgov/qpp-measures-data, pull requests merged in 2024-10, with the labels that each got.

#835 QPPA-9589: PY24 Load ICD10 Updates (truncated measures)
  measures/2024/measures-data.json
  package-lock.json
  updates/measures/2024/Quality_Truncated_PY24_CR_20241002.csv
  updates/measures/2024/changes.meta.json
Labels: version:minor, notes:measure-update

#837 QPPA-9606: remove eMeasureUuid /eMeasureUuids for PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
Labels: version:minor, notes:measure-update

#836 QPPA-9605: update initialize-measures-data script
  scripts/measures/initialize-measures-data.ts
Labels: notes:bug-fix, version:minor

#839 QPPA-9615, QPPA-9619: Update ABFM13 metric type
  measures/2024/measures-data.json
  measures/2025/measures-data.json
  updates/measures/2024/QCDR_2024_ABFM13_AnalyticUpdate_CR_10042024.csv
  updates/measures/2024/changes.meta.json
  updates/measures/2025/QCDR_2025_ABFM13_AnalyticUpdate_CR_10042024.csv
  updates/measures/2025/changes.meta.json
Labels: version:minor, notes:measure-update

#833 [Snyk] Upgrade yaml from 2.5.0 to 2.5.1
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch

#841 QPPA-9220: update PY25 IA measures
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  mvp/2025/mvp.json
  package-lock.json
  updates/measures/2025/IA_PY25_CR_20241410.csv
  updates/measures/2025/changes.meta.json
Labels: version:minor, notes:measure-update

#842 QPPA-9550: Add mock cost benchmarks
  benchmarks/2024.json
  staging/2024/benchmarks/json/mock-cost-benchmarks.json
Labels: version:minor, notes:benchmark-update

#843 QPPA-9634: Update PY24 418 description
  measures/2024/measures-data.json
  updates/measures/2024/Quality_PY24_CR_10182024.csv
  updates/measures/2024/changes.meta.json
Labels: version:minor, notes:measure-update

#845 QPPA-9648: remove space from spec links
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
  util/measures/2024/cqm-links.csv
Labels: notes:bug-fix, version:patch
