Repository CMSgov/qpp-measures-data, pull requests merged in 2025-03, with the labels that each got.

#911 QPPA-9816: Add allowedRegistrationTypes field to PY25 measures
  measures/2025/measures-data.json
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-enriched.json
  mvp/2025/mvp-schema.yaml
  package-lock.json
  scripts/constants.ts
  scripts/measures/2022/update-measures-util.spec.ts
  scripts/measures/lib/measures-lib.spec.ts
Labels: notes:feature, version:minor, notes:measure-update

#913 QPPA-10198: Update allowedVendor for AJRR12
  measures/2024/measures-data.json
  measures/2024/measures-schema.yaml
  measures/2025/measures-schema.yaml
  mvp/2024/mvp-enriched.json
  updates/measures/2024/QCDR_PY24_CR_20250314.csv
  updates/measures/2024/changes.meta.json
Labels: version:minor, notes:measure-update, notes:mvp-update

#857 QPPSE-2979 & 3677: Remove suppressed PY24 benchmarks and update exclusion reasons
  benchmarks/2024.json
  benchmarks/2024/benchmark-exclusion-reasons.json
  staging/2024/benchmarks/benchmarks.csv
  staging/2024/benchmarks/json/benchmarks.json
Labels: version:minor, notes:benchmark-update

#915 QPPA-9692: supress measure 488 & 389
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
  scripts/measures/2024/update-measures.ts
  scripts/measures/2025/update-measures.ts
  scripts/measures/lib/measures-lib.spec.ts
  scripts/measures/lib/measures-lib.ts
  updates/measures/2024/Quality_2024_Suppression_488_389_CR_03182025.csv
  updates/measures/2024/changes.meta.json
Labels: version:minor, notes:measure-update
