Repository CMSgov/qpp-measures-data, pull requests merged in 2025-05, with the labels that each got.

#920 QPPA-10251: Suspend 8 IA measures PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  updates/measures/2025/IA_PY25_CR_20250506.csv
  updates/measures/2025/changes.meta.json
Labels: version:minor, notes:measure-update

#921 QPPC-7309: Adding Cost National Averages Data for PY 2024
  benchmarks/2024/cost-national-averages.json
Labels: version:minor, notes:benchmark-update

#925 QPPA-0000: fix GH action for stale PRs
  .github/workflows/stale-pr-check.yml
Labels: notes:chore, version:patch

#923 QPPA-10344: Update Node to v22
  .github/workflows/pr-feature.yml
  .github/workflows/pr-release.yml
  .github/workflows/publish-beta-version.yml
  .github/workflows/publish.yml
  .nvmrc
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch

#924 QPPSE-3444: Add 2024 performance BMs
  benchmarks/2024.json
  benchmarks/2024/benchmark-exclusion-reasons.json
  staging/2024/benchmarks/json/mock-cost-benchmarks.json
  staging/2024/benchmarks/json/performance-benchmarks.json
Labels: version:minor, notes:benchmark-update

#927 QPPA-10459: Revert "QPPSE-3444: Add 2024 performance BMs"
  benchmarks/2024.json
  benchmarks/2024/benchmark-exclusion-reasons.json
  staging/2024/benchmarks/json/mock-cost-benchmarks.json
  staging/2024/benchmarks/json/performance-benchmarks.json
Labels: notes:chore, version:minor, notes:measure-update

#926 QPPA-10458: Update PY25 PI Spec URL
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  util/measures/2025/pi-links.csv
Labels: version:minor, notes:measure-update
