Repository CMSgov/qpp-measures-data, pull requests merged in 2025-01, with the labels that each got.

#883 QPPA-9857: PY24 remove measure G0056 from allowedPrograms
  index.spec.ts
  measures/2024/measures-data.json
  measures/2024/measures-schema.yaml
  mvp/2024/mvp-enriched.json
  util/interfaces/program-names.ts
  util/program-names/program-names.json
Labels: version:patch, notes:measure-update, notes:mvp-update

#884 QPPA-9855: PY25 quality and PI updates
  measures/2025/measures-data.json
  measures/2025/measures-schema.yaml
  mvp/2025/mvp-enriched.json
  updates/measures/2025/PI_PY25_CR_20241224.csv
  updates/measures/2025/Quality_PY2025_DWH_Repo Compare Updatesv2_CR_12312024.csv
  updates/measures/2025/Quality_PY25_CR_20241224-1.csv
  updates/measures/2025/changes.meta.json
Labels: version:patch, notes:measure-update, notes:mvp-update

#881 QPPSE-2858: Update description for PY24+ percentiles
  benchmarks/2024/benchmarks-schema.yaml
  benchmarks/2025/benchmarks-schema.yaml
Labels: version:minor, notes:benchmark-update

#886 QPPSE-3302: Set USWR32 to single rate for PY24
  benchmarks/2024.json
  staging/2024/benchmarks/benchmarks.csv
  staging/2024/benchmarks/json/benchmarks.json
Labels: version:minor, notes:benchmark-update

#887 QPPA-9875: PY25 update 001SSP description
  measures/2025/measures-data.json
  package-lock.json
  updates/measures/2025/Quality_PY2025_MedicareCQMs_CR_01092025.csv
  updates/measures/2025/changes.meta.json
Labels: version:patch, notes:measure-update

#888 QPPA-9863: Move updateProgramNames logic to util directory
  index.spec.ts
  index.ts
  util/update-program-names.spec.ts
  util/update-program-names.ts
Labels: notes:enhancement, version:patch

#889 QPPA-9877: PY25 QCDR updates
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  updates/measures/2025/Quality_QCDR_PY25_CR_20250110.csv
  updates/measures/2025/changes.meta.json
Labels: version:patch, notes:measure-update, notes:mvp-update

#890 QPPA-0000: updateProgramNames import correction
  scripts/mvp/2023/update-mvp.ts
  scripts/mvp/2024/update-mvp.ts
  scripts/mvp/2025/update-mvp.ts
Labels: notes:bug-fix, version:patch

#891 QPPA-9852: review ingestion logic for updates to existing measures
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  scripts/constants.ts
  scripts/measures/2022/update-measures-util.spec.ts
  scripts/measures/lib/measures-lib.spec.ts
  scripts/measures/lib/measures-lib.ts
Labels: version:minor, notes:measure-update

#878 Benchmarks update for measure 113
  benchmarks/2025.json
  staging/2025/benchmarks/benchmarks.csv
  staging/2025/benchmarks/json/benchmarks.json
Labels: version:minor, notes:benchmark-update

#892 QPPA-9735: Update default allowedPrograms
  scripts/constants.ts
  scripts/measures/lib/measures-lib.spec.ts
  scripts/measures/lib/measures-lib.ts
Labels: notes:enhancement, version:patch

#894 QPPA-9833: Add PY25 Specification URLs
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  package-lock.json
  util/measures/2025/claims-links.csv
  util/measures/2025/cost-links.csv
  util/measures/2025/cqm-links.csv
  util/measures/2025/ecqm-ehr-links.csv
  util/measures/2025/pi-links.csv
  util/update-program-names.ts
Labels: version:minor, notes:measure-update

#893 QPPC-6983: C2Q Measures Data
  claims-related/Makefile
  claims-related/data/2024_Claims_SingleSource_v8.csv
  claims-related/data/qpp-single-source-2024.json
  claims-related/single_source/README.md
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
Labels: Ready for Review, version:minor, notes:measure-update

#895 QPPA-0000: Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: notes:chore, version:patch

#897 QPPC-6983: C2Q Measures Data
  claims-related/Makefile
  claims-related/data/2024_Claims_SingleSource_v8.csv
  claims-related/data/qpp-single-source-2024.json
  claims-related/single_source/README.md
  measures/2024/measures-data.json
  mvp/2024/mvp-enriched.json
Labels: version:minor, notes:measure-update, notes:mvp-update

#899 QPPA-9918: Remove app1 from SSP measures PY25
  README.md
  measures/2025/measures-data.json
Labels: notes:chore, version:minor, notes:measure-update

#900 QPPSE-3302: Remove 488/EHR for PY25 HB
  benchmarks/2025.json
  benchmarks/2025/benchmark-exclusion-reasons.json
  staging/2025/benchmarks/benchmarks.csv
  staging/2025/benchmarks/json/benchmarks.json
Labels: version:minor, notes:benchmark-update

#901 QPPA-9925: Update PI_ONCACB_1 PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  updates/measures/2025/PI_PY25_CR_20250129.csv
  updates/measures/2025/changes.meta.json
Labels: version:minor, notes:measure-update
