Repository CMSgov/qpp-measures-data, pull requests merged in 2025-06, with the labels that each got.

#931 Restore "QPPSE-3444: Add 2024 performance BMs"
  benchmarks/2024.json
  benchmarks/2024/benchmark-exclusion-reasons.json
  staging/2024/benchmarks/json/mock-cost-benchmarks.json
  staging/2024/benchmarks/json/performance-benchmarks.json
Labels: version:minor, notes:benchmark-update

#933 QPPA-10373: add sonarqube yaml
  .github/workflows/sonarqube.yml
  sonar-project.properties
Labels: notes:chore, version:minor

#936 QPP-10539: Update Spec Link PY25 COST
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  package-lock.json
  scripts/mvp/2025/update-mvp.ts
  util/measures/2025/cost-links.csv
Labels: version:minor, notes:measure-update

#938 Revert "QPPSE-3444: Add 2024 performance BMs"
  benchmarks/2024.json
  benchmarks/2024/benchmark-exclusion-reasons.json
  staging/2024/benchmarks/json/mock-cost-benchmarks.json
  staging/2024/benchmarks/json/performance-benchmarks.json
Labels: version:minor, notes:benchmark-update

#932 [Snyk] Upgrade yaml from 2.7.1 to 2.8.0
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch
