Repository CMSgov/qpp-measures-data, pull requests merged in 2025-07, with the labels that each got.

#943 QPPSE-3524: Add PY25 clinical cluster changes
  clinical-clusters/2025/clinical-clusters-schema.yaml
  clinical-clusters/2025/clinical-clusters.json
  scripts/clinical-clusters/2025-EMA-and-Denominator-Reduction-User-Guide.pptx
  scripts/clinical-clusters/build-clinical-clusters
  scripts/clinical-clusters/create-clinical-cluster-csv.ts
  scripts/clinical-clusters/ema-clinical-cluster-builder.ts
  util/clinical-clusters/2025/ClaimsClinical_Cluster.csv
  util/clinical-clusters/2025/RegistryClinicalCluster.csv
Labels: notes:feature, version:minor

#945 QPPA-10573: Update ordering and sorting of measures PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
Labels: version:minor, notes:measure-update

#941 QPPA-10573: Add sorting and ordering to measures PY25
  measures/2025/measures-schema.yaml
  package-lock.json
  package.json
  scripts/constants.ts
  scripts/measures/lib/measures-lib.ts
  scripts/measures/lib/order-measure-fields.spec.ts
  scripts/measures/lib/order-measure-fields.ts
  scripts/measures/lib/sort-measures.spec.ts
  scripts/measures/lib/sort-measures.ts
  scripts/measures/update-measures
Labels: version:minor, notes:measure-update

#946 QPPA-0000: Update NPM Token
  .github/workflows/publish-beta-version.yml
  .github/workflows/publish.yml
Labels: notes:chore, version:minor

#949 feat: QPPA-9960 add beta protection
  .github/workflows/pr-feature.yml
  .github/workflows/publish-beta-version.yml
Labels: notes:enhancement, version:patch

#951 QPPA-10469: Initialize PY26 Measures
  measures/2026/measures-data.json
  measures/2026/measures-schema.yaml
  mvp/2026/mvp-enriched.json
  mvp/2026/mvp-raw.json
  mvp/2026/mvp-schema.yaml
  mvp/2026/mvp.csv
  mvp/2026/mvp.json
  scripts/benchmarks/build-benchmarks
  scripts/measures/2026/get-stratifications.js
  scripts/measures/2026/ingest-strata.spec.ts
  scripts/measures/2026/ingest-strata.ts
  scripts/measures/2026/update-measures.spec.ts
  scripts/measures/2026/update-measures.ts
  scripts/measures/export-measures
  scripts/measures/update-measures
  scripts/mvp/2026/update-mvp.ts
  scripts/mvp/update-mvp
  test/measures/2026/bad-test-strata.csv
  test/measures/2026/badPiMeasures.csv
  test/measures/2026/badQcdrMeasures.csv
  test/measures/2026/blank-measureid-test-strata.csv
  test/measures/2026/iaMeasures.csv
  test/measures/2026/piMeasures.csv
  test/measures/2026/qcdr-strata.csv
  test/measures/2026/qcdrMeasures.csv
  test/measures/2026/quality-strata.csv
  test/measures/2026/qualityMeasures.csv
  test/measures/2026/test-measures-result.json
  test/measures/2026/test-measures.json
  test/measures/2026/test-strata.csv
  updates/measures/2026/changes.meta.json
  util/measures/2026/qcdr-strata.csv
  util/measures/2026/quality-strata.csv
Labels: version:minor, notes:measure-update, notes:mvp-update
