Repository CMSgov/qpp-measures-data, pull requests merged in 2025-09, with the labels that each got.

#971 QPPA-0000: Fix MVP input data files
  lcov.info
  mvp/2026/mvp-raw.json
  mvp/2026/mvp.csv
  scripts/measures/2026/update-measures.ts
  scripts/measures/lib/measures-lib.spec.ts
  scripts/measures/lib/measures-lib.ts
Labels: version:patch, notes:mvp-update

#969 [Snyk] Upgrade yaml from 2.8.0 to 2.8.1
  package-lock.json
  package.json
Labels: notes:dependencies, version:patch

#973 QPPA-10809, QPPA-10817: Update Measures 510 to nonProportion and remove aveChg strata from 503 for PY25
  measures/2025/measures-data.json
  mvp/2025/mvp-enriched.json
  updates/measures/2025/Quality_QCDR_PY25_CR_20250912.csv
  updates/measures/2025/changes.meta.json
  util/measures/2025/quality-strata.csv
Labels: version:minor, notes:measure-update

#974 QPPA-10822, QPPA-10823: Update Measures 510 to nonProportion and remove aveChg strata from 503 for PY26
  measures/2026/measures-data.json
  mvp/2026/mvp-enriched.json
  updates/measures/2026/Quality_PY26_CR_20250912.csv
  updates/measures/2026/changes.meta.json
  util/measures/2026/quality-strata.csv
Labels: version:minor, notes:measure-update
