Repository CMSgov/qpp-measures-data, pull requests merged in 2025-08, with the labels that each got.

#958 QPPA-10651: Initial PI and IA Updates for PY26
  measures/2026/measures-data.json
  mvp/2026/mvp-enriched.json
  mvp/2026/mvp.json
  updates/measures/2026/IA_PY26_CR_20250728.csv
  updates/measures/2026/PI_PY26_CR_20250724.csv
  updates/measures/2026/changes.meta.json
Labels: version:minor, notes:measure-update

#964 QPPC-0000: Updating Cost National Averages After Re-Run
  benchmarks/2024/cost-national-averages.json
Labels: version:minor, notes:benchmark-update

#965 feature/QPPSE-3990_PY24_benchmarks_update
  benchmarks/2024.json
  benchmarks/2024/benchmark-exclusion-reasons.json
  staging/2024/benchmarks/json/mock-cost-benchmarks.json
Labels: version:minor, notes:benchmark-update

#966 QPPA-10773 Documentation and process Upgrades
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  constants.ts
  package.json
  scripts/measures/initialize-measures
  scripts/measures/update-measures
  scripts/mvp/build-mvp
Labels: notes:enhancement, notes:chore, version:patch
